<ion-tabs>

  <ion-tab tab="shop">
    <ion-router-outlet name="shop"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="social">
    <ion-router-outlet name="social"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="poker">
    <ion-router-outlet name="poker"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="career">
    <ion-router-outlet name="career"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="profile">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>


  <ion-tab-bar slot="bottom">
<div class="animatedline"></div>
    <ion-tab-button tab="shop" href="/tabs/(shop:shop)">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="social" href="/tabs/(social:social)">
      <ion-icon name="people"></ion-icon>
      <ion-label>social</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="poker" href="/tabs/(poker:poker)">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Poker</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="career" href="/tabs/(career:career)">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Career</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/(profile:profile)">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

<!-- <ion-toolbar color="success" class="toolbar-tab">
  <div class="tabs">
      <div class="tab" [ngClass]="{ 'active' : segment === 'shop' }" (click)="onTabSelected('shop')">
          <ion-icon name="cart"></ion-icon>
          <div class="label">shop</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment === 'shop' }" (click)="onTabSelected('shop')">
        <ion-icon name="people"></ion-icon>
        <div class="label">social</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment === 'shop' }" (click)="onTabSelected('shop')">
          <ion-icon name="heart"></ion-icon>
          <div class="label">Career</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment === 'shop' }" (click)="onTabSelected('shop')">
        <ion-icon name="briefcase"></ion-icon>
        <div class="label">Career</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment === 'shop' }" (click)="onTabSelected('shop')">
        <ion-icon name="contact"></ion-icon>
        <div class="label">Profile</div>
      </div>
  </div>
</ion-toolbar> -->
