.frlist-container{
    display: flex;
    flex-direction: column;  

}

.fr-box{
    height: 45px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.fr-box:nth-child(even) {   
    background: rgba(28,66,109,0.99);
    background: -moz-linear-gradient(top, rgba(28,66,109,0.99) 0%, rgba(21,87,158,0.33) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28,66,109,0.99)), color-stop(100%, rgba(21,87,158,0.33)));
    background: -webkit-linear-gradient(top, rgba(28,66,109,0.99) 0%, rgba(21,87,158,0.33) 100%);
    background: -o-linear-gradient(top, rgba(28,66,109,0.99) 0%, rgba(21,87,158,0.33) 100%);
    background: -ms-linear-gradient(top, rgba(28,66,109,0.99) 0%, rgba(21,87,158,0.33) 100%);
    background: linear-gradient(to bottom, rgba(28,66,109,0.99) 0%, rgba(21,87,158,0.33) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c426d', endColorstr='#15579e', GradientType=0 );
}
.fr-box:nth-child(odd) {
    background: rgba(13,67,84,0.99);
    background: -moz-linear-gradient(top, rgba(13,67,84,0.99) 0%, rgba(21,87,158,0.61) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,67,84,0.99)), color-stop(100%, rgba(21,87,158,0.61)));
    background: -webkit-linear-gradient(top, rgba(13,67,84,0.99) 0%, rgba(21,87,158,0.61) 100%);
    background: -o-linear-gradient(top, rgba(13,67,84,0.99) 0%, rgba(21,87,158,0.61) 100%);
    background: -ms-linear-gradient(top, rgba(13,67,84,0.99) 0%, rgba(21,87,158,0.61) 100%);
    background: linear-gradient(to bottom, rgba(13,67,84,0.99) 0%, rgba(21,87,158,0.61) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d4354', endColorstr='#15579e', GradientType=0 );
}


.fr-box{
   

    .user-pic{
        max-width: 45px;
        padding-left: 10px;
    }
    .user-name{
        margin-left: 30px;
    }
    
}
.myShadow {
    -moz-box-shadow:    0px 2px 3px 1px #000;
    -webkit-box-shadow: 0px 2px 3px 1px #000;
    box-shadow: 0px 2px 3px 1px #000;
  }