// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:root{
    --ion-text-color:#fff;
--ion-background-color:transparent;
--ion-toolbar-background:transparent;
--ion-tab-bar-background:#4fa1eb;
--ion-tab-bar-color:#9fccf4;
--ion-tab-bar-color-activated:#fff;

}


.header-md:after{
    background-image: none!important;
}
.ion-page
    {
        background-image: url('./assets/img/background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

